extends layout

block content
    div.container
        div.row
            div.col-lg-12
                h1 Fibonachi three ways
                div(ng-controller="NodesController")
                    div.row
                        div.col-lg-12
                            button(ng-click="stopAll()").btn-danger.btn Stop all processes
                    div(ng-repeat="(nodeName, node) in nodes").row
                        div.col-lg-12
                            div(title="{{nodeName}}").tw-panel
                                div.row
                                    div.col-lg-2
                                        button(ng-click="$parent.startNode(nodeName)", ng-disabled="node.started").btn.btn-primary Start server
                                        span(ng-show="node.started").label.label-primary Started
