doctype html
html(ng-app="BlockingDemo")
  head
    title Pride & Promises
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src="//cdn.socket.io/socket.io-1.1.0.js")
    script(src='/components/angular/angular.js')
    script(src="/js/tw/tw-socket.js")
    script(src='/js/tw/tw.js')
    script(src='/js/main.js')